@import url(https://fonts.google.com/);

* {
    padding: 0%;
    margin: 0%;
    font-family: 'pooppins',sans-serif;
    box-sizing: border-box;
}

html{overflow: hidden;

}

body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background:linear-gradient(to right,rgb(255,255,255),rgb(31, 40, 171, 0.82));
}

nav{
    width:100%;
    height: 10vh;
    position: sticky;
}

.nav-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    color:black;
    font-size: 2rem;
    font-weight: bolder;
}

.logo span{
    color: rgba(71, 80, 207, 0.82);
    text-shadow: 0 0 10px rgba(71, 80, 207, 0.82);
}

.hamburg,.cancel{
    cursor: pointer;
    position:absolute;
    right: 15px;
    top: 10px;
    color: black;
    font-size: 2rem;
    display: none;
}

.nav-container .links{
    display: flex;
    gap: 3rem;
    align-items: center;
}

.nav-container .links a{
    position: relative;
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
    font-weight: 500;
    transform: 0.3 linear;
}

.nav-container .links a::before{
    position: absolute;
    content:"";
    bottom: -3px;
    top: 0;
    width: 0;
    height: 3px;
    background-color: rgba(71, 80, 207, 0.82);
    transition: 0.2s linear;
}

.nav-container .links a:hover::before{
    width: 100%;
}

.nav-container .kontak-btn{
    background-color: rgba(71, 80, 207, 0.82);
    padding: 5px 20px;
    border-radius: 20px;
    border: 2px solid rgba(71, 80, 207, 0.82);
    transition: 0.2s linear;
}

.nav-container.kontak-btn a{
    color: white;
    transition: 0.3s linear;
}

.nav-container .kontak-btn:hover,.nav-container.kontak-btn:hover a{
    background-color: rgba(71, 80, 207, 0.82);
    color: white;
}

.nav-container-links a:hover{
    color: rgba(71, 80, 207, 0.82);
}
 
.dropdown{
    z-index: 100;
    position: absolute;
    top: 0;
    transform: translateY(-500px);
    width: 100%;
    height: auto;
    backdrop-filter: brightness(40%)blur(3px);
    box-shadow: 0 0 20px black;
    transition: 0.2s linear;
}

.dropdown .links a{
    color: white;
    display: flex;
    text-decoration: none;
    padding: 15px 0;
    align-items: center;
    transform: 0.2 linear;
}

.dropdown .links a:hover{
    background-color: rgba(71, 80, 207, 0.82);
}

.section{
    width: 100%;
    height: 90vh;
}

.main-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-container .image{
    z-index: -1;
    width: 50%;
}

.main-container .image img{
    width: 80%;
}

.main-container .content{
    color: black;
    width: 40%;
    min-height: 100px;
}

.content h1{
    font-size: clamp(1rem,2rem + 5vw,3rem);
}

.content h1 span{
    color: rgb(71, 80, 207, 0.82);
    text-shadow: 0 0 10px rgba(71, 80, 207, 0.82);
}

.content .typewriter{
    font-weight: 600;
    font-size: clamp(1rem,1rem + 5vw,2rem);
}

.content .typewriter span{
    color: rgba(0, 17, 255, 0.82);
    font-size: 2.5rem;
    text-shadow: 0 0 5px rgba(11, 26, 236, 0.82);
    position: relative;
    transition: 0.3s linear;
}

.typewriter span::before{
    content:"Developer";
    animation: words 15s infinite;
}

.typewriter span::after{
    content:"";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3 solid black;
    animation: cursor 0.6s linear infinite;
}

@keyframes cursor{
    to{
        border-left: 3px solid brown;
    }

}

@keyframes words{
    0%, 33%{
        content: "TKJ";

    }
     34%, 66%{
        content: "Desaigner";

    }
     67%, 100%{
        content: "Gamers";

    }
}